.pred-form{
    margin-bottom: 60px;
    max-width: none;
}

.form-container{
    display: flow-root;
}

.pred-result{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.8);
    margin: 4rem;
    border-radius: 25px;
}

.pred-result h1{
    margin: 1rem;
}
.pred-result p{
    margin: 1rem;
    font-size: 24px;
}
.pred-result span{
    color: aqua;
    text-decoration: underline;
}
.pred-result button{
    padding: 10px 2rem;
    cursor: pointer;
    margin-top: 2rem;
}